<!--{phpcom:eval}-->
$this->title .= ' 所有视频';
<!--{/phpcom:eval}-->
<!--{phpcom:template include="common/header"}-->
<div class="nav">
	<table width="100%" align="center">
		<tr>
			<td class="td-nav"><em>当前位置 &rsaquo;&rsaquo; <a href="{@domain}">首页</a> &rsaquo;&rsaquo; 
			<a href="{phpcom:echo @getMiscUrl($chanid, 0, 0, 0, 0)}">视频索引</a> &rsaquo;&rsaquo; {$currname}</em></td>
		</tr>
	</table>
</div>
<div class="container">
	<table width="100%" align="center" class="tablestyle">
		<tr>
			<td class="td-730">
				<h2 class="h730"><a class="c0" href="{phpcom:echo @getMiscUrl($chanid, 0, 0, 0, 0)}">视频索引</a><span class="typecat">
				<phpcom:threadclass value="$row" catid="@rootid" chanid="@chanid" type="0" limit="18">
					 | {phpcom:if test="$row.classid == $classid"}<a class="c1" href="{$row.url}">{$row.name}</a>{phpcom:else}<a href="{$row.url}">{$row.name}</a>{/phpcom:if}
				</phpcom:threadclass></span>
				</h2>
				<div class="videolistwrap">
					<div class="videolist">
					<!--{phpcom:for-each select="$datalist" value="$thread"}-->
						<div class="lstcont">
							<a class="a-img" href="{$thread.purl}" target="_blank"><img onerror="javascript:this.src='{@domain}misc/images/noimage.jpg';" src="{$thread.thumburl}" width="115" height="150" /></a>
							<p class="tit"><a href="{$thread.url}"{$thread.highlight}>{$thread.title}</a></p>
							<p><span class="starbg"><span class="star" style="width:{$thread.percent};"></span></span><em class="score">{$thread.scores}</em></p>
							<p>导演：{phpcom:echo @getPersonAnchor($thread.director, ' ', 3, 0)}</p>
							<p>主演：{phpcom:echo @getPersonAnchor($thread.starring, ' ', 3, 0)}</p>
							<p>日期：{$thread.date}</p>
						</div>
					<!--{/phpcom:for-each}-->
					</div>
					<div class="pagebox"><p>{$showpage}</p></div>
				</div>
			</td>
			<td class="sp10"></td>
			<td class="td-252">
				<h2 class="h252">栏目导航</h2>
				<ul class="catmenu">
				<!--{phpcom:category value="$cat" rootid="@rootid" limit="0"}-->
					{phpcom:if test="$cat.catid == $this->catid"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $cat.catid, 0, 0, 0)}"><strong>{$cat.name}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $cat.catid, 0, 0, 0)}">{$cat.name}</a></li>
					{/phpcom:if}
				<!--{/phpcom:category}-->
				</ul>
				<div class="high10"></div>
				<h2 class="h252">出产地区</h2>
				<ul class="catmenu">
				<!--{phpcom:loop select="@getChannelSettingOfArray('country')" key="$k" value="$v"}-->
					{phpcom:if test="$queries['country'] == $k"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $k, $queries['dialogue'], $queries['years'])}"><strong>{$v}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $k, $queries['dialogue'], $queries['years'])}">{$v}</a></li>
					{/phpcom:if}
				<!--{/phpcom:loop}-->
				</ul>
				<div class="high10"></div>
				<h2 class="h252">语言对白</h2>
				<ul class="catmenu">
				<!--{phpcom:loop select="@getChannelSettingOfArray('dialogue')" key="$k" value="$v"}-->
					{phpcom:if test="$queries['dialogue'] == $k"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['country'], $k, $queries['years'])}"><strong>{$v}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['country'], $k, $queries['years'])}">{$v}</a></li>
					{/phpcom:if}
				<!--{/phpcom:loop}-->
				</ul>
				<div class="high10"></div>
				<h2 class="h252">出品年代</h2>
				<ul class="catmenu">
				<!--{phpcom:for select="$y = 2014; $y > 2002; --$y"}-->
					{phpcom:if test="$queries['years'] == $y"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['country'], $queries['dialogue'], $y)}"><strong>{$y}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['country'], $queries['dialogue'], $y)}">{$y}</a></li>
					{/phpcom:if}
				<!--{/phpcom:for}-->
				</ul>
				<div class="high10"></div>
				<h2 class="h252-1">热门的</h2>
				<ul class="aicon">
					<!--{phpcom:threadlist value="$row" chanid="@chanid" rootid="@rootid" top="hot" limit="10" length="30" ellipsis="..."}-->
					<li><a href="{$row.url}"{$row.highlight}>{$row.title}</a></li>
					<!--{/phpcom:threadlist}-->
				</ul>
			</td>
		</tr>
	</table>
</div>
<!--{phpcom:template include="common/footer"}-->