			</td>
		</tr>
	</table>
</div>
<div class="footer">
	<table width="100%" align="center" class="tablestyle">
		<tr>
			<td class="copy-link">
				<a target="_blank" href="http://210.76.65.188" title="网络警察举报平台" rel="nofollow"><img src="misc/images/link/wljc.gif" alt="网络警察举报平台" /></a>
				<a target="_blank" href="javascript:void(0)" title="公共信息安全网络监察" rel="nofollow"><img src="misc/images/link/ggxx.gif" alt="公共信息安全网络监察" /></a>
				<a target="_blank" href="javascript:void(0)" title="网上交易保障中心" rel="nofollow"><img src="misc/images/link/wsjy.gif" alt="网上交易保障中心" /></a>
				<a target="_blank" href="javascript:void(0)" title="公共信息网络安全监察" rel="nofollow"><img src="misc/images/link/ggxx2.gif" alt="公共信息网络安全监察" /></a>
				<a target="_blank" href="javascript:void(0)" title="网站信用良好" rel="nofollow"><img src="misc/images/link/xylh.gif" alt="网站信用良好" /></a>
				<a target="_blank" href="javascript:void(0)" title="网络警察举报平台" rel="nofollow"><img src="misc/images/link/wljc2.gif" alt="网络警察举报平台" /></a>
			</td>
		</tr>
		<tr>
			<td class="copyright">
				<p>{phpcom::$setting['copyright']} <a class="icp" href="http://www.miibeian.gov.cn" target="_blank">{phpcom::$setting['icp']}</a></p>
				<p class="f10">{phpcom:value-of select="@processedTime()" disable-output-escaping="yes"}</p>
			</td>
		</tr>
	</table>
</div>
<img src="{@domain}apps/cron.php?{@time}" width="1" height="1" style="display: none" />
</body>
</html>