<!--{phpcom:template include="member/header"}-->
<div class="pagetab">
	<dl>
		<dt>密码安全</dt>
		<dd class="current"><a href="member.php?action=password">修改密码</a></dd>
		<dd class="btn"><a href="member.php?action=profile">个人资料</a></dd>
	</dl>
</div>
<p class="bbd pb10 mb10 mt10">您必须填写正确的原密码才能修改下面的资料</p>
<div class="mbox">
	<form action="member.php?action=password" method="post" autocomplete="off" onsubmit="ajaxpost(this);return false;">
	<input type="hidden" name="formtoken" value="{@formtoken}" />
	<input type="hidden" name="formsubmit" value="true" />
	<table cellspacing="0" cellpadding="0" class="formtable">
		<tr>
			<th><span class="fr" title="必填">*</span>原密码</th>
			<td>
				<input type="password" name="password" id="user_password" class="input iw" />
				<p class="d">请输入您的原始登录密码 </p>
			</td>
		</tr>
		<tr>
			<th>新密码</th>
			<td>
				<input type="password" name="password1" id="user_password1" class="input iw" />
				<p class="d">如果您不需要更改密码，此处请留空 </p>
			</td>
		</tr>
		<tr>
			<th>确认新密码</th>
			<td>
				<input type="password" name="password2" id="user_password2" class="input iw" />
				<p class="d">确认您的新密码，如果不更改密码，此处请留空 </p>
			</td>
		</tr>
		<tr>
			<th><span class="fr" title="必填">*</span>Email</th>
			<td>
				<input type="text" name="email" id="user_email" value="$email" class="input iw" />
				<p class="d">
					$emailactivatemsg
				</p>
			</td>
		</tr>
		<tr>
			<th>安全提问</th>
			<td>
				<select name="questionid" id="user_questionid" class="select sw">
					$questionoption
				</select>
				<p class="d">如果您启用安全提问，登录时需填入相应的问题答案才能登录 </p>
			</td>
		</tr>
		<tr>
			<th>问题答案</th>
			<td>
				<input type="text" name="answer" id="user_answer" class="input iw" />
				<p class="d">如您设置新的安全提问，请在此输入答案 </p>
			</td>
		</tr>
		<!--{phpcom:if test="phpcom::$setting['captchastatus'][2]"}-->
		<tr>
			<th><span class="fr" title="必填">*</span>验证码</th>
			<td class="captcha">
				<input type="text" name="verifycode" id="verifycode" onblur="checkVerifyCode(this.id)" class="input" />
				<img id="captcha" src="apps/misc.php?action=captcha" onclick="updateCaptcha(this)" style="cursor:pointer" title="看不清楚，换一张" align="absmiddle" /><a href="javascript:void(0)" onclick="updateCaptcha(this.previousSibling);">刷新验证码</a>
				&nbsp; <span id="checkCaptcha" style="display:none"><img src="misc/images/none.gif" width="16" height="16" class="vam" /></span>
			</td>
		</tr>
		<!--{/phpcom:if}-->
		<tr>
			<th>&nbsp;</th>
			<td><button type="submit" name="btnsubmit" value="true" class="btn b1" /><strong>保 存</strong></button></td>
		</tr>
	</table>
	</form>
</div>
<!--{phpcom:template include="member/footer"}-->