<!--{phpcom:eval}-->
if($pagenow){
$this->title .= "($count/$pagenow)";
}
<!--{/phpcom:eval}-->
<!--{phpcom:template include="common/header"}-->
<div class="nav">
	<table width="100%" align="center">
		<tr>
			<td class="td-nav">
				<em>当前位置 &rsaquo;&rsaquo; 首页 &rsaquo;&rsaquo;
					<a href="$curl">{$catname}</a>
					&rsaquo;&rsaquo;
					<a href="$url">{$title}</a>
				</em>
			</td>
		</tr>
	</table>
</div>
<div class="container">
	<table width="100%" align="center" class="tablestyle">
		<tr>
			<td class="td-992">
			<h2 class="h992-1">{$title}<!--{phpcom:if test="$pagenow"}-->($count/$pagenow)<!--{/phpcom:if}--></h2>
			<div class="picviewbox">
				<dl>
				<!--{phpcom:for-each select="$datalist" value="$result"}-->
					<dd><a href="{$nexturl}"><img src="{$result.imageurl}" alt="{$result.description}" /></a></dd>
				<!--{/phpcom:for-each}-->
				</dl>
				<div style="clear:both;"></div>
				<!--{phpcom:if test="$pagenow"}-->
				<div class="pagebox">
					<table cellspacing="0" align="center"><tr><td>{$showpage}</td></tr></table>
				</div>
				<!--{/phpcom:if}-->
				<div class="backnext" style="margin-top:10px">
					<ul>
						<li><b>上一图集：</b><a href="{$previmage.url}">{$previmage.title}</a></li>
						<li><b>下一图集：</b><a href="{$nextimage.url}">{$nextimage.title}</a></li>
					</ul>
				</div>
				<div style="clear:both;"></div>
			</div>
			</td>
		</tr>
	</table>
	<div style="clear:both;"></div>
</div>
<!--{phpcom:template include="common/footer"}-->
<!--{phpcom:eval}-->
$commentnum = $thread['comments'];
<!--{/phpcom:eval}-->