<!--{phpcom:template include="common/header"}-->
<div class="nav">
	<table width="100%" align="center">
		<tr>
			<td class="td-nav"><em>当前位置 &rsaquo;&rsaquo; <a href="{@domain}">首页</a> &rsaquo;&rsaquo; 
			<a href="{phpcom:echo @getMiscUrl($chanid, 0, 0, 0, 0)}">软件索引</a> &rsaquo;&rsaquo; {$currname}</em></td>
		</tr>
	</table>
</div>
<div class="container">
	<table width="100%" align="center" class="tablestyle">
		<tr>
			<td class="td-730">
				<h2 class="h730"><a class="c0" href="{phpcom:echo @getMiscUrl($chanid, 0, 0, 0, 0)}">软件索引</a><span class="typecat">
				<phpcom:threadclass value="$row" catid="@rootid" chanid="@chanid" type="0" limit="16">
					 | {phpcom:if test="$row.classid == $classid"}<a class="c1" href="{$row.url}">{$row.name}</a>{phpcom:else}<a href="{$row.url}">{$row.name}</a>{/phpcom:if}
				</phpcom:threadclass></span></h2>
				<div class="soft_list_box">
				<!--{phpcom:for-each select="$datalist" value="$thread"}-->
				<div class="soft_list">
					<dl>
						<dt><span title="人气: {$thread.hits}">大小：{$thread.size}&nbsp;&nbsp;<em class="{$thread.datestyle}">{phpcom:value-of select="$thread.dateline" output-date-value="yes" format="Y年m月d日"}</em></span><a href="{$thread.url}" target="_blank">{$thread.title}</a></dt>
						<dd class="summary"><table><tr><!--{phpcom:if test="$thread.image"}--><td class="lstimg"><a href="{$thread.url}" target="_blank"><img src="{$thread.imageurl}" /></a></td><!--{/phpcom:if}--><td class="lsttxt">{$thread.summary}</td></tr></table></dd>
						<dd class="info"><em><b>运行环境：</b>{$thread.runsystem}</em>
						<span>
						<b>授权：</b><a href="{phpcom:echo @getMiscOfUrl($thread.license, 'license', 3)}">{$thread.license}</a> &nbsp;
						<b>语言：</b><a href="{phpcom:echo @getMiscOfUrl($thread.softlang, 'softlang', 4)}">{$thread.softlang}</a></span></dd>
					</dl>
				</div>
				<!--{/phpcom:for-each}-->
				<div class="pagebox"><p>{$showpage}</p></div>
				</div>
			</td>
			<td class="sp10"></td>
			<td class="td-252">
				<h2 class="h252">栏目导航</h2>
				<ul class="catmenu">
				<phpcom:category value="$cat" chanid="@chanid" catid="0" limit="0">
					{phpcom:if test="$cat.catid == $this->catid"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $cat.catid, 0, 0, 0)}"><strong>{$cat.name}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $cat.catid, 0, 0, 0)}">{$cat.name}</a></li>
					{/phpcom:if}
				</phpcom:category>
				</ul>
				<div class="high10"></div>
				<h2 class="h252">软件类型</h2>
				<ul class="catmenu">
				<phpcom:loop select="@getChannelSettingOfArray('softtype')" key="$k" value="$v">
					{phpcom:if test="$queries['softtype'] == $k"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $k, $queries['license'], $queries['softlang'])}"><strong>{$v}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $k, $queries['license'], $queries['softlang'])}">{$v}</a></li>
					{/phpcom:if}
				</phpcom:loop>
				</ul>
				<div class="high10"></div>
				<h2 class="h252">授权方式</h2>
				<ul class="catmenu">
				<phpcom:loop select="@getChannelSettingOfArray('license')" key="$k" value="$v">
					{phpcom:if test="$queries['license'] == $k"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['softtype'], $k, $queries['softlang'])}"><strong>{$v}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['softtype'], $k, $queries['softlang'])}">{$v}</a></li>
					{/phpcom:if}
				</phpcom:loop>
				</ul>
				<div class="high10"></div>
				<h2 class="h252">软件语言</h2>
				<ul class="catmenu">
				<phpcom:loop select="@getChannelSettingOfArray('softlang')" key="$k" value="$v">
					{phpcom:if test="$queries['softlang'] == $k"}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['softtype'], $queries['license'], $k)}"><strong>{$v}</strong></a></li>
					{phpcom:else}
					<li><a href="{phpcom:echo @getMiscUrl($chanid, $catid, $queries['softtype'], $queries['license'], $k)}">{$v}</a></li>
					{/phpcom:if}
				</phpcom:loop>
				</ul>
				<div class="high10"></div>
				<h2 class="h252-1">热门软件</h2>
				<ul class="aicon">
					<phpcom:threadlist value="$row" chanid="@chanid" top="hot" limit="10" length="30" ellipsis="...">
					<li><a href="{$row.url}"{$row.highlight}>{$row.title}</a></li>
					</phpcom:threadlist>
				</ul>
			</td>
		</tr>
	</table>
</div>
<!--{phpcom:template include="common/footer"}-->