<div id="fbox_uploadattach" class="fwrap" style="display: none;">
	<table id="fbox_uploadattach_table" class="fltable" cellspacing="0" cellpadding="0">
		<tr>
			<td class="ftl"></td>
			<td class="ftc"></td>
			<td class="ftr"></td>
		</tr>
		<tr>
			<td class="fml"></td>
			<td id="ajax_content_uploadattach" class="flbody">
				<ul id="fdrag_uploadattach" class="tab" autoresize="1" style="width: 570px; margin-top: 0pt; cursor: move;">
					<li class="y"><a class="fclose" onclick="hideAttachWindow('uploadattach')" href="javascript:;" onmousedown="return false;"> 关闭 </a></li>
					<li id="btn_imgattachlist"><a onclick="toggleAttachTabs('imgattachlist');" href="javascript:;"> 图片列表 </a></li>
					<li id="btn_phpupload"><a onclick="toggleAttachTabs('phpupload');" href="javascript:;"> 普通上传 </a></li>
					<li id="btn_swfupload" class="current"><a onclick="toggleAttachTabs('swfupload');" href="javascript:;"> 批量上传 </a></li>
				</ul>
				<div id="tab_phpupload" class="panel-opt" style="display: none;">
					<div>
						<div id="imageUploadForm" style="display:none;"><span><form queueid="-1" name="formimageupload" id="formimageupload" enctype="multipart/form-data" action="apps/misc.php?action=swfupload&operation=upload&simple=1&chanid=$chanid&type=$type" method="post" target="uploadframe">
							<input type="hidden" name="queueid" value="-1" />
							<input type="hidden" name="MAX_FILE_SIZE" value="$maxszie" />
							<input type="hidden" value="$uid" name="uid" />
							<input type="hidden" value="$hash" name="hash" />
							<input type="file" size="45" name="Filedata" style="height:23px;" /></form></span>
						</div>
						<div id="imageUploadFile" class="file"></div>
						<div class="uploadbtn">
							<button class="btn b1" id="imageUploadBtn" type="button" onclick="startUploadAttach('image');" name="uploadsubmit"><strong> 开始上传 </strong></button>
							<b> 上传文件： </b> 大小限制: <span class="red"> $filesizelimit </span> , 文件类型: <span class="red"> $attachextensions </span>
						</div>
						<div class="uploadQueueHead">
							上传列队 <span id="imageUploadStatus"> </span>
						</div>
						<div class="uploadQueue" id="imageUploadQueue"></div>
					</div>	
				</div>
				<div id="tab_imgattachlist" class="panel-opt" style="display: none;">
					<div class="filelistbox">
					<!--{phpcom:if test="$datalist"}-->
						<table class="imgtable" cellspacing="2" cellpadding="2">
							<tr>
							<!--{phpcom:for-each select="$datalist" key="$attachid" value="$attach" in="$i" count="$count"}-->
								<td id="imagebox_$attachid" width="25%" valign="bottom">
									<a id="imageattach$attachid" title="{$attach['filename']}" href="javascript:;">
										<img id="uploadimage_$attachid" width="{if $attach['width'] < 110}{$attach['width']}{else}110{/if}" onclick="insertAttachimgTag('$attachid');" src="{$siteurl}{phpcom:echo getattachimgurl($attachid, 300, 300, 1, 'geom', 1, $chanid)}" />
									</a>
									<p style="margin:5px 0">
										<input id="attachupdate$attachid" type="hidden" name="attachupdate[$attachid]"> 
										<a title="设置预览缩略图" onclick="setThreadImage($attachid);return false;" href="javascript:;">设置</a>
										<span class="sep"> | </span> 
										<a onclick="updateAttachWindow('image', $attachid, $chanid);return false;" href="javascript:;">更新</a> 
										<span class="sep"> | </span> 
										<a onclick="deleteImage($attachid,'{$attach.key}', $chanid);return false;" href="javascript:;">删除</a>
									</p>
									<p class="fi">
										<input id="imagesort_$attachid" class="input" type="text" style="width:20px;" name="attachnew[$attachid][sortord]" value="{$attach.sortord}" title="排序" />
										<input class="input gray" style="width:90px" type="text" onclick="this.disabled=true;this.style.display='none';$('imagedesc_$attachid').style.display='';$('imagedesc_$attachid').focus();" value="描述" /> 
										<input id="imagedesc_$attachid" class="input" type="text" style="width:90px;display:none" name="attachnew[$attachid][description]" value="{$attach.description}" />
									</p></td>
								<!--{phpcom:if test="$i % 4 == 0 && $i < $count"}--></tr><tr><!--{/phpcom:if}-->
							<!--{/phpcom:for-each}-->
							<!--{phpcom:if test="($p = $i % 4) > 0"}--><!--{phpcom:echo str_repeat('<td width="25%">&nbsp;</td>', 4 - $p)}--><!--{/phpcom:if}-->
							</tr>
						</table>
						<input id="threadimageaid" type="hidden" name="imageaid" value="0" />
					<!--{phpcom:else}-->
						<input id="threadimageaid" type="hidden" name="imageaid" value="-1" />
					<!--{/phpcom:if}-->
						<div id="imgattachlist"></div>
						<div id="unusedimgattachlist"></div>
					</div>
				</div> 
				<script type="text/javascript">
					function loadSWFUpload() {
						var settings = {
							flash_url : "{$instdir}misc/images/swfupload/swfupload.swf",
							upload_url : "{$instdir}apps/misc.php?action=swfupload&operation=upload&chanid=$chanid&type=$type",
							post_params : {
								"uid" : "{$uid}",
								"hash" : "{$hash}"
							},
							file_size_limit : "$filesizelimit",
							file_types : "$attachextensions",
							file_types_description : "$depiction",
							file_upload_limit : 100,
							file_queue_limit : 0,
							custom_settings : {
								progressTarget : "fsUploadProgress",
								uploadButtonId : "btnUpload"
							},
							debug : false,

							button_image_url : "{$instdir}misc/images/swfupload/swf-button.png",
							button_width : "78",
							button_height : "26",
							button_placeholder_id : "spanButtonPlaceHolder",
							button_text : '<span class="theFont">选择文件</span>',
							button_text_style : ".theFont { font-size: 12; }",
							button_text_left_padding : 12,
							button_text_top_padding : 3,
							button_cursor : SWFUpload.CURSOR.HAND,

							file_queued_handler : fileQueued,
							file_queue_error_handler : fileQueueError,
							file_dialog_complete_handler : fileDialogComplete,
							upload_start_handler : uploadStart,
							upload_progress_handler : uploadProgress,
							upload_error_handler : uploadError,
							upload_success_handler : uploadSuccess,
							upload_complete_handler : uploadComplete,
							queue_complete_handler : queueComplete
						};
						window.swfu = new SWFUpload(settings);
					}
					setTimeout(function() {
						if (typeof window.swfu == 'undefined' || !window.swfu) {
							var script = document.createElement('script');
							script.src = '{$instdir}misc/js/swfupload-min.js';
							script.charset = '{$charset}';
							script.onloadDone = false;
							script.onload = function() {
								script.onloadDone = true;
								loadSWFUpload();
							};
							script.onreadystatechange = function() {
								if ((script.readyState == 'loaded' || script.readyState == 'complete')
										&& !script.onloadDone) {
									script.onloadDone = true;
									loadSWFUpload();
								}
							};
							document.getElementsByTagName("head")[0].appendChild(script);
						} else {
							loadSWFUpload();
						}
					}, 200);
				</script>
				<div id="tab_swfupload" class="panel-opt">
					<form id="swfuploadform" method="post" enctype="multipart/form-data">
						<div>
							<span id="spanButtonPlaceHolder"> </span>
							<button id="btnUpload" class="btnUpload" type="button" onclick="swfu.startUpload();" />
							<b> 开始上传 </b>
							</button>
							<span> 提示: 单个文件大小限制 <span class="red"> $filesizelimit </span> , 可以选择多个文件上传. </span>
						</div>
						<div class="uploadQueueHead">
							上传列队 <span id="divStatus"> </span>
						</div>
						<div class="uploadQueue" id="fsUploadProgress"></div>
					</form>
				</div> <iframe id="uploadframe" style="display: none;" name="uploadframe" onload="uploadCallback();"> </iframe></td>
			<td class="fmr"></td>
		</tr>
		<tr>
			<td class="fbl"></td>
			<td class="fbc"></td>
			<td class="fbr"></td>
		</tr>
	</table>
</div>
<script type="text/javascript">setTimeout(function(){appendAttachQueue('image');}, 100);</script>
