<ul id="fdrag_readterms" class="flh" autoresize="1" style="width:477px;margin-top: 0pt; cursor: move;">
	<li class="x">阅读条款</li>
	<li class="y"><a class="fclose" onclick="hideWindow('readterms')" href="javascript:;" onmousedown="return false;">关闭</a></li>
</ul>
<div class="termsbox"><div class="termstext">$termstext</div></div>
<div class="fbutton">
	<button id="terms_cancel_button" onclick="location.href='/'" title="不同意">&nbsp;不同意&nbsp;</button>
	<button id="terms_submit_button" onclick="hideWindow('readterms')" title="同意">&nbsp;同意&nbsp;</button>
</div>
